* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

body {
    font-family: "Lato";
}

.mwrapper {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
    width: 66%;
    margin: auto;
}

nav {
    display: flex;
    background-color: #1a1a1d;
    padding: 2rem;
    justify-content: space-evenly;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff
}